@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .thin-scrollbar::-webkit-scrollbar {
    width: 6px; /* 设置滚动条宽度 */
  }

  .thin-scrollbar::-webkit-scrollbar-thumb {
    background-color: #ccc; /* 滚动条滑块的颜色 */
    border-radius: 3px; /* 滚动条滑块的圆角 */
  }
}
